<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EdTech Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCArchitecure.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
     <style>
        .cont {
      
      font-family: "arial";
      font-size: 24px;
    }

    .typeds {
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid;
      width: 0;
     
      animation: typing 3.2s steps(45, end) infinite, blinking 1s alternate-reverse infinite;
    }

    @@keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @@keyframes blinking {
      0% { border-right-color: transparent }
      50% { border-right-color: black }
      100% { border-right-color: transparent }
    }

    </style> 
</head>
<body>
    <header>

        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0 ">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>EdTech</h2>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto p-4 p-lg-0">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index"> Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard" asp-action="AdminIndex">DashBoard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu fade-down m-0">
                            <a asp-area="" asp-controller="Home" asp-action="Team" class="dropdown-item">Our Team</a>
                            <a asp-area="" asp-controller="Home" asp-action="Testimonial" class="dropdown-item">Testimonial</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                </ul>
               @*  <a href="#" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a> *@
            </div>
            <partial name="_LoginPartial"/>
        </nav>
        <!-- Navbar End -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


       <!-- Footer Start -->
       <footer>
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn border-bottom " data-wow-delay="0.1s">
    <div class="container py-5">
    <div class="row g-5">
    <div class="col-lg-3 col-md-6">
    <h4 class="text-white mb-3">Quick Link</h4>
    <a class="btn btn-link" href="">About Us</a>
    <a class="btn btn-link" href="">Contact Us</a>
    <a class="btn btn-link" href="">Privacy Policy</a>
@*     <a class="btn btn-link" href="">Terms & Condition</a>
    <a class="btn btn-link" href="">FAQs & Help</a> *@
    </div>
    <div class="col-lg-3 col-md-6">
    <h4 class="text-white mb-3">Contact</h4>
    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
    <div class="d-flex pt-2">
    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <h4 class="text-white mb-3">Gallery</h4>
    <div class="row g-2 pt-2">
    <div class="col-4">
    <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
    </div>
    <div class="col-4">
    <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
    </div>
    <div class="col-4">
    <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
    </div>
    <div class="col-4">
    <img class="img-fluid bg-light p-1" src="~/img/course-2.jpg" alt="">
    </div>
    <div class="col-4">
     <img class="img-fluid bg-light p-1" src="~/img/course-3.jpg" alt="">
    </div>
    <div class="col-4">
     <img class="img-fluid bg-light p-1" src="~/img/course-1.jpg" alt="">
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <h4 class="text-white mb-3">Newsletter</h4>
     <p>The pain should be just as important as the clita itself.</p>
    <div class="position-relative mx-auto" style="max-width: 400px;">
    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
    </div>
    </div>
    </div>
    </div>
    <div class="container">

    </div>
    <!-- Footer End --> 
    </footer>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Back to Top -->
    @* <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> *@


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
